body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #62e2e2, #7aedcc);
    font-family: Arial, sans-serif;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 1.2em;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
    position: relative;
}

button:hover {
    background: black;
    color: white;
    border-radius: 50%;
}

button:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid black;
    border-radius: 10px;
    pointer-events: none;
}

.calc {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#view {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background: #f3efef;
    border-radius: 5px;
}


.equal {
    height: 130px;
    border-radius: 30px;
}
